beautifulsoup4==4.7.1
certifi==2018.11.29
chardet==3.0.4
fake-useragent==0.1.11
idna==2.8
PyMySQL==0.9.3
requests==2.21.0
six==1.12.0
soupsieve==1.7.3
url-normalize==1.4.1
urllib3==1.24.1
URLObject==2.4.3
